{% extends "base.html" %}
{% block title %}Fyntora Linux - About{% endblock %}
{% block content %}
<div class="box">
    <h2 class="title">About Fyntora Linux</h2>
<p>
Fyntora Linux is a distribution built on a custom foundation.
While we share the same core goals as normal distros, we approach them from a distinct perspective. This isn't about being "better", at all. It's about doing things differently.

</p>
<p>
Like ArchLinux, we currently use the Pacman package manager. For more information
regarding the package manager, please head to <link>https://archlinux.org/about/.
We would like to mention that we are addionally writing our own package-manager.
This does not mean we will drop support for Pacman, Pacman remains the number one choice,
as it is simply the best.
</p>
<p>
We are build on top the minimal, baseline configuration, making sure that
you can configure your entire system yourself, with pre-installation scripts
available. We give you max control about your system. The scripts can be downloaded
from our mirror, or from our GitHub.
</p>
<p>
Like Arch Linux, FyntoraLinux uses a "rolling release" system which allows one-time installation
and perpetual software upgrades. It is not generally necessary to reinstall
or upgrade your Fyntora Linux system from one "version" to the next.
By issuing one command, an Fyntora system is kept up-to-date and on the bleeding
edge.
</p>
<p>
FyntoraLinux is currently making progress with their own Linux Kernel
fork, this fork benifits the same mainstream futures, with addional updates.
We have decided to do so to take your control to the next level. You can decide
which kernel you would like to use within the installer.
</p>

</div>
<br /><br />
{% endblock %}

